apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: grafana
spec:
  parentRefs:
    - name: api-gateway
      namespace: envoy
  hostnames: 
    - gateway.homelab
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /grafana
      backendRefs:
        - name: grafana
          namespace: grafana
          port: 3000
          filters:
            - type: ExtensionRef
              extensionRef:
                group: gateway.envoyproxy.io
                kind: HTTPRouteFilter
                name: grafana-credential-injection
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: HTTPRouteFilter
metadata:
  name: grafana-credential-injection
spec:
  credentialInjection:
    overwrite: true
    credential:
      valueRef:
        name: grafana-basic-auth