apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: grafana
resources:
  - namespace.yaml
  - certificate.yaml
  - vault-secrets.yaml
  - http-route.yaml
  - backend-tls-policy.yaml
  - helm-repository.yaml
  - helm-release.yaml
  - network-policy.yaml
 
configMapGenerator:
  - name: grafana-dashboards
    files:
      - dashboards/Cluster-Dashboard.json
      - dashboards/Data-Pipeline.json
      - dashboards/Docker-Logs.json
      - dashboards/Kubernetes-Logs.json
      - dashboards/Vault.json

generatorOptions:
  disableNameSuffixHash: true