apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: internal-gateway-config
spec:
  provider:
    type: Kubernetes
    kubernetes:
      envoyService:
        annotations:
          metallb.io/loadBalancerIPs: ${INTERNAL_GATEWAY_IP}
      envoyDeployment:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
            reloader.stakater.com/rollout-strategy: "restart"
  backendTLS:
    # specify client certs to use for mTLS to backends
    clientCertificateRef:
      kind: Secret
      name: gateway-listener-tls
      namespace: envoy