apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: proxy-config
spec:
  provider:
    type: Kubernetes
    kubernetes:
      envoyService:
        annotations:
          metallb.io/loadBalancerIPs: 192.168.8.55
  backendTLS:
    # specify client certs to use for mTLS to backends
    clientCertificateRef:
      kind: Secret
      name: gateway-listener-tls
      namespace: envoy