apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vector
resources:
  - namespace.yaml
  - service-account.yaml
  - cluster-role.yaml
  - vault-secrets.yaml
  - service.yaml
  - daemonset.yaml

configMapGenerator:
- name: vector-config
  files:
    - config/vector.yaml

labels:
  - pairs:
      app.kubernetes.io/name: vector
    includeSelectors: true