apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana
spec:
  secretName: grafana-tls
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  isCA: false
  usages:
    - server auth
    - client auth
  commonName: Grafana
  dnsNames:
    - rpi5-1
  issuerRef:
    name: vault-issuer
    kind: ClusterIssuer
    group: ""